PORT=3100
PDF_SERVICE_TOKEN=36fb789bc9385f0c8b543e5d588adcd6caff4ee4e8a947c38a59af9ea3599e6570f53606b5d2abf925cc645a86a16921
PDF_ALLOWED_ORIGINS=https://sys.maisgerencia.com.br,http://localhost:5173,http://localhost:5174
PDF_PUBLIC_BASE_URL=https://sys.maisgerencia.com.br
PDF_RATE_LIMIT_MAX=40
PDF_BODY_LIMIT=8mb
PDF_MAX_CONCURRENT_JOBS=2
PDF_LOG_PERFORMANCE=0
PDF_DEFAULT_WAIT_UNTIL=domcontentloaded
PDF_NETWORKIDLE_BUDGET_MS=1200
PDF_ASSET_WAIT_TIMEOUT_MS=800
